@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Ubuntu:wght@300&family=Varela+Round&display=swap');


body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}


nav {
    font-family:"Ubuntu" , sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 50px;
    padding: 0 10px;
}

.container {
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: "varela Round", sans-serif;
    display: flex;
    margin: 10px auto;
    width: 70%;
    border-radius: 12px;
    padding: 20px;
    /* background-image: url(bg.jpg); */
}
.logo {
    margin: 0 10px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    /* mix-blend-mode: multiply; */
}

.bottom {
    position: sticky;
    background-color: black;
    color: white;
    height: 90px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    /* padding: 0 91px; */
    flex-direction: column;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.icons i {
    /* display: flex; */
    /* align-items: center; */
    /* margin-top: 0px ; */
    cursor: pointer;
}

/* div img {
    position:absolute;
    width: 35vw;
    height: 55vh;
    right: 250px;
} */    

.backgroundImg {
    position:fixed;
    width: 35vw;
    height: 65vh;
    right: 15vw;
}

.coverimg1 {
    width: 3vw;
    height: 7vh;
}

.songItem {
    padding: 5px 10px;
    height: 50px;
    display: flex;
    width: 30vw;
    background-color: white;
    margin: 5px 10px ;
    color: black;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
}

.songItem img {
    border-radius: 30px;
}

.timestamp {
    margin: 0 23px;
}

i {
    cursor: pointer;
}

.icons a {
    margin-left: 5vw;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: "varela Round", sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}


#bottomTotalDuration {
    position: absolute;
    right: 10vw;
    font-size: 1.5rem;
}

#bottomCurrentDuration {
    position: absolute;
    left: 10vw;
    font-size: 1.5rem;
}

#gif {
    position: absolute;
    left: 5vw;
}

#masterSongName {
    position: relative;
    left: 10vw;
    font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
    /* body {
      background-color: ;
    } */

    /* .container {
        width: 90%;
    } */
    
    .songList {
        width: 100%;
    }

    .coverimg1 {
        width: 10vw;
        height: 5vh;
    }

    .backgroundImg {
        visibility: collapse;
    }
    div.songItem {
        width: auto;
    }
  }


  @media only screen and (max-width: 750px) {
    /* body {
      background-color: ;
    } */

    .container {
        width: 85%;
    }
    
    .songList {
        width: 100%;
    }

    .coverimg1 {
        width: 10vw;
        height: 5vh;
    }

    .backgroundImg {
        visibility: collapse;
    }
    div.songItem {
        width: auto;
    }
  }
  @media only screen and (max-width: 650px) {
   

    .container {
        width: 85%;
    }
    
    .songList {
        width: 100%;
    }

    .coverimg1 {
        width: 10vw;
        height: 5vh;
    }

    .backgroundImg {
        visibility: collapse;
    }
    div.songItem {
        width: auto;
    }
  }

  @media only screen and (max-width: 650px) {
   
    #masterSongName {
        font-size: 1rem;
        top: -2.5vh;
    }
  }

  @media only screen and (max-width: 500px) {
   
    #masterSongName {
        font-size: 1rem;
        top: -2.5vh;
    }
    .songItemPlay {
        position: relative;
        margin-right: -11vw;
    }
  }


  
  @media (min-width: 900px) and (max-width: 1200px) {
    
    /* .backgroundImg {
        width: 30vw;
    }  */
     .container {
        width: 85vw;
     }
     .songItem {
        position: relative;
        width: 41vw;
    }
  }

  /* nav ul li a {
    margin-right: 1vw;
    right: 0vw;
    text-decoration: none;
    color: white;
  }

  nav ul li a:hover{
    color: rgb(234, 0, 255);
  } */